amqp==5.3.1
asgiref==3.11.0
attrs==25.4.0
billiard==4.2.3
brotli==1.2.0
celery==5.5.3
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==46.0.3
cssselect2==0.8.0
Django==4.2.14
django-cors-headers==4.9.0
django-filter==23.5
djangorestframework==3.14.0
et_xmlfile==2.0.0
fonttools==4.60.1
idna==3.11
isodate==0.7.2
kombu==5.5.4
lxml==6.0.2
openpyxl==3.1.5
packaging==25.0
pillow==10.4.0
platformdirs==4.5.0
prompt_toolkit==3.0.52
pycparser==2.23
pydyf==0.11.0
PyMySQL==1.1.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
qrcode==8.2
redis==7.1.0
reportlab==4.4.5
requests==2.32.5
requests-file==3.0.1
requests-toolbelt==1.0.0
signxml==4.2.0
six==1.17.0
sqlparse==0.5.3
tinycss2==1.5.1
tinyhtml5==2.0.0
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
weasyprint==66.0
webencodings==0.5.1
whitenoise==6.6.0
zeep==4.3.2
zopfli==0.4.0
